*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.box{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 137px auto;
    color: black;
    background-color: white;
    padding: 13px 25px;
    text-align: center;
    border-radius: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Outfit', sans-serif;  
}
.box h3{
    padding: 10px 0;
}

.attribution{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}